body {
  background: #eee;
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
  overflow: -moz-scrollbars-vertical;
}

/* header: search/view selection */

#header {
  position: fixed;
  z-index: 1000;
  background: #ccc;
  padding: 7px 0;
  width: 100%;
  border-bottom: 1px solid #888;
}

#search {
  margin-left: 10px;
  border: 1px solid #aaa;
  padding: 2px 2px 2px 24px;
  background: white url("search.gif") left no-repeat;
}

#views {
  float: right;
  margin-right: 10px;
}

#views a {
  padding: 0;
  display: block;
  float: left;
}

a#grid {
  background: url("buttons/grid.png") top;
  width: 44px !important;
  height: 27px !important;
  display: block;
}
a#grid:hover {
  background-position: bottom;
}

a#mosaic{
  background: url("buttons/mosaic.png") top;
  width: 55px !important;
  height: 27px !important;
  display: block;
}
a#mosaic:hover {
  background-position: bottom;
}

a#calendar{
  background: url("buttons/calendar.png") top;
  width: 70px !important;
  height: 27px !important;
  display: block;
}
a#calendar:hover {
  background-position: bottom;
}

a#about{
  background: url("buttons/about.png") top;
  width: 50px !important;
  height: 27px !important;
  display: block;
}
a#about:hover {
  background-position: bottom;
}

/* ???? */

.infoWrap {
  text-align: center;
  visibility: hidden;
  padding: 3px 10px;
  margin: 0 auto 10px auto;
  background: #ee2;
  -moz-border-radius: 5px;
}

#undelete {
  width: 250px;
}

#undelete a {
  color: #000;
}

#undelete div {
  width: 250px;
}

/* FOOTER */

#prefooter {
  clear: both;
  height: 40px;
}

#footer {
  position: fixed;
  z-index: 1000;
  background: #ccc;
  padding: 7px 10px;
  width: 100%;
  border-top: 1px solid #888;
  bottom: 0;
}

#footer-controls {
  float: right;
  margin-right: 20px;
}

#footer .button {
  border: 1px solid #888;
  margin: 3px;
  padding: 3px;
  background: white;
  color: #08f;
  text-decoration: none;
  font-size: 0.9em;
}

#footer .button:hover {
  color: #f80;
}
