body {
  background: #eee;
  font-family: "MS Trebuchet", sans-serif;
  margin: 0;
  padding: 0;
  overflow: -moz-scrollbars-vertical;
}

/* header: search/view selection */

#header {
  width: 90%;
  padding: 0;
  margin: 0 auto;
  margin-top: 10px;
}

#postheader {
  clear: both;
  height: 10px;
}

#search {
  margin-left: 10px;
  border: 1px solid #aaa;
  padding: 2px 2px 2px 24px;
  background: white url("search.gif") left no-repeat;
}

#views {
  float: right;
  margin-right: 10px;
  margin-top: -29px;
}

#views a {
  font-family: "MS Trebuchet", sans-serif;
  color: #ffffff;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  padding: 0;
  float: left;
  text-shadow: 2px 2px 2px #000;
  
}

span.navlink {
  background: url("seperator.png") right no-repeat;
  height: 27px;
  display: block;
  margin-top: -7px;
  padding: 13px 10px 0 10px;
}

a#grid {
  background: url("grid.png") top no-repeat;
  height: 27px !important;
  display: block;
}
a#grid:hover {
  background-position: center;
}
a#grid:active {
  background-position: bottom;
}


a#mosaic{
  background: url("buttonbg.png") top;
  height: 27px !important;
  display: block;
}
a#mosaic:hover {
  background-position: center;
}
a#mosaic:active {
  background-position: bottom;
}

a#calendar{
  background: url("buttonbg.png") top;
  height: 27px !important;
  display: block;
}
a#calendar:hover {
  background-position: center;
}
a#calendar:active {
  background-position: bottom;
}

a#about{
  background: url("about.png") top no-repeat;
  width: 48px !important;
  height: 27px !important;
  display: block;
}

a#about .navlink {
  background: none !important;
  padding-left: 5px !important;
}

a#about:hover {
  background-position: center;
}
a#about:active {
  background-position: bottom;
}

a#trash {
  background: url("trash.png") top;
  height: 52px;
  width: 52px;
  margin-top: -23px;
}
a#trash:hover {
  background-position: bottom;
}

/* deletion notification */

.humanMsg {
  -moz-border-radius: 15px;
}
/*
.infoWrap {
  text-align: center;
  visibility: hidden;
  padding: 3px 10px;
  margin: 0 auto 10px auto;
  background: #731926;
  -moz-border-radius: 5px;
}

#undelete {
  padding-top: 10px;
  width: 250px;
}

#undelete a {
  color: #ffffff;
  text-decoration: none;
}

#undelete div {
  width: 250px;
}
*/

/* FOOTER */

#prefooter {
  clear: both;
  height: 40px;
}

#footer {
  position: fixed;
  z-index: 1000;
  background: #9b2133;
  padding: 7px 10px;
  width: 100%;
  border-top: 1px solid #f33450;
  bottom: 0;
}

#footer .button {
  border: 1px solid #888;
  margin: 3px;
  padding: 3px;
  background: white;
  color: #08f;
  text-decoration: none;
  font-size: 0.9em;
}

#footer .button:hover {
  color: #f80;
}

a#feedback {
  font-family: "MS Trebuchet", sans-serif;
  color: #ffffff;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  padding: 0;
  float: left;
  
}
a#feedback:hover {
  background-position: center;
}
a#feedback:active {
  background-position: bottom;
}
